<!DOCTYPE hmtl>
<html>
	<head>
		<title>Admin</title>
        
        <link href= "/stylesheets/style.css" rel="stylesheet" type="text/css"/>
        
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>
    
	<body>  
        
        <div class="logo"><img src='/images/image3.png' width="200" height="100"></a></div>      
        
<div class = "container1">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href=/>Home</a></li>
            <li><a href=teacher>Teachers</a></li>
            <li><a href=admin>Admin</a></li>
            <li><a href=login>Sign In</a></li>
            <li><a href=createUser>Sign up</a></li>
            <li><a href=contactUs>Contact Us</a></li>
        </ul>
</div>
        
        <h1>Star Kids Contact Us</h1>
<div>
    <h3>
    Phone: 09-974 2060<br>
    Email: starkidschildcare1@gmail.com<br>
    Open: 7:00am-6:00pm<br>
    </h3>
</div>        

<div class="gmap_canvas">
    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=17%20clayton%20road%20manurewa&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
    </iframe>
    <a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
    <a href="https://www.embedgooglemap.net"></a>
    <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
</div>
    

        <img src='/images/image1.png' width="600" alt = "Star kids childcare">

<div>
        <a href="https://www.facebook.com/StarKidsChildcareNZ/">
		<img src='/images/image2.png' width="70" height="50"alt = "Star Kids Childcare Facebook">
        </a>
</div>
        
        
	</body>
</html>