<!DOCTYPE html> 
<html> 
<head> 
  <title>Create User</title>
    
    <link href= "/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head> 
<body> 
    
     <div class="logo"><img src='/images/image3.png' width="200" height="100"></a></div>      
        
<div class = "container1">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href=/>Home</a></li>
            <li><a href=teacher>Teachers</a></li>
            <li><a href=admin>Admin</a></li>
            <li><a href=login>Sign In</a></li>
            <li><a href=createUser>Sign up</a></li>
            <li><a href=contactUs>Contact Us</a></li>
        </ul>
</div>
    
    <div class="signin">
    <h3>Sign Up</h3> 
	<form method="POST"> 
		<label for="parentName">User Name</label> 
		<input type="parentName" id="parentName" placeholder="Enter user name" name="parentName"> 
		<label for="password">Password</label> 
		<input type="password" id="password" placeholder="Enter password" name="password"> 
		<button type="submit">Sign Up</button> 
	</form> 
    </div> 

 <img src='/images/image1.png' width="600" alt = "Star kids childcare">

</body> 
</html> 