<head>
<link href= "/stylesheets/style.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
</head>

 <div class="logo"><img src='/images/image3.png' width="200" height="100"></a></div>
        
    <div class = "container1">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href=/>Home</a></li>
            <li><a href=getDailyMeals>Daily Meals</a></li>
            <li><a href=getAccidentReports>Accidents</a></li>
            <li><a href=getSleepLogs>Sleep</a></li>
        </ul>
    </div>
</head>

<table>
	<tr>
		<th>Child Name</th>
        <th>Class Name</th>
        <th>Teacher Name</th>
        <th>Sleep Log</th>
    </tr>
		
	<% if (sleepLogData.length !=0) {var i=1; sleepLogData.forEach( function(data) {
	%>
		<tr>
			<td><%=data.childName %></td>
            <td><%=data.className %></td>
            <td><%=data.teacherName %></td>
            <td><%=data.sleepLog %></td>       
		</tr>
		<% i++; }) %> <%}%>
		
</table>