<!DOCTYPE hmtl>
<html>
	<head>
		<title>Star Kids Childcare</title>
        
        <link href= "/stylesheets/style.css" rel="stylesheet" type="text/css"/>
        
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>
    
	<body>  
        
    <div class="logo"><img src='/images/image3.png' width="200" height="100"></a></div>
        
    <div class = "container1">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href=/>Home</a></li>
            <li><a href=teacher>Teachers</a></li>
            <li><a href=admin>Admin</a></li>
            <li><a href=login>Sign In</a></li>
            <li><a href=createUser>Sign up</a></li>
            <li><a href=contactUs>Contact Us</a></li>
        </ul>
    </div>
        
    <div class="welcome">
        <h1>Welcome to Star Kids Childcare</h1>
        
		<h2>Star Kids Childcare provides a warm, safe home-like and welcoming environment for children, parents, whanau and teachers.</h2>

        
		<p>
           We are committed to empowering our children's so they can learn and grow through real experiences and experiments. This exploration supports them to take risks, develop problem-solving skills and nurturing strengths and talents.
		</p>
    </div>

        <img src='/images/image1.png' width="600" alt = "Star kids childcare" style="background-image">
        
	</body>
</html>