<!DOCTYPE hmtl>
<html>
	<head>
		<title>Admin</title>
        
        <link href= "/stylesheets/style.css" rel="stylesheet" type="text/css"/>
        
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>
    
	<body>  
        
        <div class="logo"><img src='/images/image3.png' width="200" height="100"></a></div>
        
    <div class = "container1">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href=/>Home</a></li>
            <li><a href=teacher>Teachers</a></li>
            <li><a href=admin>Admin</a></li>
            <li><a href=login>Sign In</a></li>
            <li><a href=createUser>Sign up</a></li>
            <li><a href=contactUs>Contact Us</a></li>
        </ul>
    </div>
   
        <h1>Star Kids Teacher's Portal</h1>

     <div class = "container2">
        <ul class="nav nav-tabs" role="tablist">
			<li><a href=addDailyMeal>Add daily meal</a></li>
            <li><a href=getDailyMeals>List of children daily meal</a></li>
            <li><a href=addAccidentReport>Add Accident Report</a></li>
            <li><a href=getAccidentReports>List of Accident Report</a></li>
            <li><a href=addSleepLog>Add Sleep Log</a></li>
            <li><a href=getSleepLogs>List of Sleep Log</a></li>
        </ul>
    </div>
        

        <img src='/images/image1.png' width="600" alt = "Star kids childcare">
        
        
	</body>
</html>